
<h1>Welcome to Utopitrade!</h1>

<h2>
	A better marketplace for a better world. <br />
	<strong>Coming Summer 2015!</strong>
</h2>

<h3>Make every purchase count by shopping on our online marketplace!</h3>
<p>We focus on <strong>Fair Trade, Sustainable and Charitable products</strong>.</p>
