
<h1>Welcome to Utopitrade!</h1>

<h2>
	A better marketplace for a better world. <br />
	<strong>Coming Summer 2015!</strong>
</h2>

<br />

<h3>Make every purchase count by shopping on our online marketplace!</h3>
<h4>We focus on <strong>Fair Trade, Sustainable and Charitable products</strong>.</4>

<br />
<br />

<%= link_to 'Back', products_path, class: "btn btn-link" %>

<br />