@import "bootstrap-sprockets";
@import "bootstrap";


#sign_in {
	margin-top: 10px;
}

.jumbotron {
	background: url('https://s3-us-west-2.amazonaws.com/tradedemos/fair-trade.jpg') center center;
	color: #FFFFE0;
}

.footer {
	text-align: left;
	list-style-type: none;
}

